<div class="box">
    <div class="cal">
        <h2 style="color: aliceblue;">Number 1</h2>
        <input type="number" [(ngModel)]="num1"><br>
        <h2 style="color: aliceblue;">Number 2</h2>
        <input type="number" [(ngModel)]="num2"><br><br>
        <div class="S">
            <button (click)="Sum()">SUM</button>
        <button (click)="Sub()">SUB</button>
        <button (click)="Div()">DIV</button>
        <button (click)="Mul()">MUL</button>
        </div>
        <h1> {{sum}} </h1>
        

    </div>

</div>
